{% extends 'base.html' %}
{% block content %}
{% if data|length > 0 %}
<div id="wrapper" class="form-wrapper2" style="height: 61vh" id="main-wrapper">
{% else%}
<div id="wrapper" class="form-wrapper2" style="height: 81vh" id="main-wrapper">
{% endif%}
<div class="main-form-container">
    <form action="" method="post">
        {% csrf_token %}
            <span class="main-form-field">Выберете институт</span>
        <div>
            <select class="select" id="institute" name="institute" onchange="changeInstitute()">
                <option class="select" value=""></option>
                {% for institute in institutes %}
                    {% if default_institute == institute.name %}
                    <option selected value="{{ institute.name }}">{{ institute.name }}</option>
                    {% else %}
                    <option value="{{ institute.name }}">{{ institute.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if data|length > 0 %}
            <span id="spec" class="main-form-field">Выберете направление</span>
        <div>
            <select class="select" id="speciality" name="speciality" onchange="changeSpeciality()">
            {% else %}
            <span id="spec" class="main-form-field" style="display: none">Выберете направление</span>
        <div>
            <select class="select" id="speciality" name="speciality" onchange="changeSpeciality()" style="display: none">
            {% endif %}
                <option value=""></option>
                  {% for speciality in specialities %}
                    {% if default_institute == speciality.institute.name %}
                        {% if default_speciality == speciality.name %}
                            <option selected value="{{ speciality.name }}">{{ speciality.name }}</option>
                        {% else %}
                            <option value="{{ speciality.name }}">{{ speciality.name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if data|length > 0 %}
            <span id="plan" class="main-form-field">Выберете программу</span>
        <div>
            <select class="select" id="study_plan" name="study_plan" onchange="changeStudyPlan()">
            {% else %}
            <span id="plan" class="main-form-field" style="display: none">Выберете курс</span>
        <div>
            <select class="select" id="study_plan" name="study_plan" onchange="changeStudyPlan()" style="display: none">
            {% endif %}
                <option value=""></option>
                {% for study_plan in study_plans %}
                    {% if default_speciality == study_plan.speciality.name %}
                        {% if default_study_plan == study_plan.name %}
                            <option selected value="{{ study_plan.name }}">{{ study_plan.name }}</option>
                        {% else %}
                            <option value="{{ study_plan.name }}">{{ study_plan.name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        {% if data|length > 0 %}
        <input id="get_study_plans" class="button" style="height: 5vh; margin: 10vh 0 2vh 0;"type="submit" value="Показать учбеные планы" >
        {% else %}
            <input id="get_study_plans" class="button" style="height: 5vh; margin: 10vh 0 2vh 0;display: none " type="submit" value="Показать учбеные планы" >
        {% endif %}
    </form>
    </div>
</div>

    {% if failure %}
        Что-то пошло не так, попробуйте выбрать другой план
    {% endif %}
    {% if data|length > 0 %}
        <div class="flex-container" style="padding-left: 31.5vw">
        {% for course in data %}


            <button id="button-{{course.course}}" class="course-title">{{ course.course }} курс</button>
        {% endfor %}
        </div>

        {% for course in data %}
            <div id="course-{{course.course}}" class="flex-container course" style="display: none">
                <div class="flex-container-column">
                    <p class="button-sem">1 семестр</p>
                    <div class="flex-container flex-center">
                    <table class="table table-strip table-advance table-hover table2">
                        <tbody>
                            <tr>
                                <th>Название дисциплины</th>
                                <th>Экзамены</th>
                                <th>Зачеты</th>
                                <th>Лекционных</th>
                                <th>Практических</th>
                                <th>Лабораторных</th>
                            </tr>
                            {% for discipline in course.disciplines.ordinary %}
                                {% if discipline.semester == 1 %}
                                    <tr>
                                        <td>{{ discipline.name }}</td>
                                        <td>{% if discipline.exam %}+{% else %}-{% endif %}</td>
                                        <td>{% if discipline.test %}+{% else %}-{% endif %}</td>
                                        <td>{{ discipline.lecture }}</td>
                                        <td>{{ discipline.practice }}</td>
                                        <td>{{ discipline.lab }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                {% for discipline in course.disciplines.by_choice %}
                                    {% if discipline.semester == 1 %}
                                        <tr>
                                            <td>{{ discipline.name }}</td>
                                            <td>{% if discipline.exam %}+{% else %}-{% endif %}</td>
                                            <td>{% if discipline.test %}+{% else %}-{% endif %}</td>
                                            <td>{{ discipline.lecture }}</td>
                                            <td>{{ discipline.practice }}</td>
                                            <td>{{ discipline.lab }}</td>
                                        </tr>
                                        {% for discipline_by_choice in discipline.disciplines %}
                                        <tr>
                                            <td style="padding-left: 2vw" colspan="6">
                                                {{ discipline_by_choice }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                {% if course.first_semester_diagram is not None %}
                    <img class="pie" src="data:image/png;base64,{{ course.first_semester_pie|safe }}" alt="">
                    </div>
                    <img class="bar" src="data:image/png;base64,{{ course.first_semester_diagram|safe }}" alt="">
                {% endif %}
                </div>
                <div class="flex-container-column">
                    <p class="button-sem" style="margin-top: 4vh">2 семестр</p>
                    <div class="flex-container flex-center">
                    <table class="table table-strip table-advance table-hover table2">
                        <tbody>
                            <tr>
                                <th>Название дисциплины</th>
                                <th>Экзамены</th>
                                <th>Зачеты</th>
                                <th>Лекционных</th>
                                <th>Практических</th>
                                <th>Лабораторных</th>
                            </tr>
                            {% for discipline in course.disciplines.ordinary %}
                                {% if discipline.semester == 2 %}
                                    <tr>
                                        <td>{{ discipline.name }}</td>
                                        <td>{% if discipline.exam %}+{% else %}-{% endif %}</td>
                                        <td>{% if discipline.test %}+{% else %}-{% endif %}</td>
                                        <td>{{ discipline.lecture }}</td>
                                        <td>{{ discipline.practice }}</td>
                                        <td>{{ discipline.lab }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for discipline in course.disciplines.by_choice %}
                                {% if discipline.semester == 2 %}
                                    <tr>
                                        <td>{{ discipline.name }}</td>
                                        <td>{% if discipline.exam %}+{% else %}-{% endif %}</td>
                                        <td>{% if discipline.test %}+{% else %}-{% endif %}</td>
                                        <td>{{ discipline.lecture }}</td>
                                        <td>{{ discipline.practice }}</td>
                                        <td>{{ discipline.lab }}</td>
                                    </tr>
                                    {% for discipline_by_choice in discipline.disciplines %}
                                    <tr>
                                        <td style="padding-left: 2vw" colspan="6">
                                            {{ discipline_by_choice }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                {% if course.second_semester_diagram is not None %}
                    <img class="pie" src="data:image/png;base64,{{ course.second_semester_pie|safe }}" alt="">
                    </div>
                    <img class="bar" src="data:image/png;base64,{{ course.second_semester_diagram|safe }}" alt="">
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        function changeInstitute() {
            const institute = document.getElementById('institute');
            const spec = document.getElementById('spec')
            const speciality = document.getElementById('speciality');
            const studyPlan = document.getElementById('study_plan');
            const button = document.getElementById('get_study_plans');
            const plan = document.getElementById('plan');
            speciality.options.length = 1;
            if (institute.options[institute.selectedIndex].value !== "")
            {
                spec.style.display = "inline";
                speciality.style.display = "inline";
                {% for speciality in specialities %}
                    if (institute.options[institute.selectedIndex].value === '{{ speciality.institute.name }}')
                    {
                        var oOption = document.createElement("option");
                        oOption.value = '{{ speciality.name }}';
                        oOption.text = '{{ speciality.name }}';
                        oOption.className ='select';
                        speciality.append(oOption);
                    }
                {% endfor %}
            }
            else
            {
                speciality.style.display = "none";
                studyPlan.style.display = "none";
                button.style.display = "none";
                spec.style.display = "none";
                plan.style.display = "none";
            }
        }
    </script>
    <script>
        function changeSpeciality() {
            const speciality = document.getElementById('speciality');
            const plan = document.getElementById('plan');
            const studyPlan = document.getElementById('study_plan');
            const button = document.getElementById('get_study_plans');
            studyPlan.options.length = 1;
            if (speciality.options[speciality.selectedIndex].value !== "")
            {
                plan.style.display = "inline";
                studyPlan.style.display = "inline";
                {% for study_plan in study_plans %}
                    if (speciality.options[speciality.selectedIndex].value === '{{ study_plan.speciality.name }}')
                    {
                        var oOption = document.createElement("option");
                        oOption.value = '{{ study_plan.name }}';
                        oOption.text = '{{ study_plan.name }}';
                        oOption.className ='select';
                        studyPlan.append(oOption);
                    }
                {% endfor %}
            }
            else {
                studyPlan.style.display = "none";
                plan.style.display = "none";
                button.style.display = "none";
            }
        }
    </script>
    <script>
        function changeStudyPlan() {
            const studyPlan = document.getElementById('study_plan')
            const button = document.getElementById('get_study_plans');
            if (studyPlan.options[studyPlan.selectedIndex].value !== "")
            {
                button.style.display = "inline";
            }
            else {
                button.style.display = "none";
            }
        }
    </script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const toggleButtons = document.querySelectorAll('.course-title');
    const contents = document.querySelectorAll('.course');

    toggleButtons.forEach(button => {
        button.addEventListener('click', function() {
            const courseId = this.id.split('-')[1];
            const content = document.getElementById(`course-${courseId}`);

            if (content.style.display === "none") {
                content.style.display = "block";
                content.style.maxHeight = content.scrollHeight + "px";
                this.style.backgroundColor = "#0b97c4";
            } else {
                this.style.backgroundColor = "#04617F";
                content.style.maxHeight = null;
                setTimeout(() => {
                    content.style.display = "none";
                }, 300);
            }
            contents.forEach(content => {
                const courseId = this.id.split('-')[1];
                if(content.id.split('-')[1] != courseId){
                    const buttonChange = document.getElementById('button-'+content.id.split('-')[1])
                    content.style.maxHeight = null;
                    buttonChange.style.backgroundColor = "#04617F";
                    setTimeout(() => {
                        content.style.display = "none";
                    }, 300);
                }
            });

        });
    });

});
</script>
{% endblock %}